.container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-content: center;
  justify-content: center;
  /* align-items: center; */
  /* flex-flow: row wrap; */
}
.board {
  background: lightblue;
  width: 14vw;
  height: 16vh;
  margin: 12px;
  border-radius: 10px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.create-board {
  background: lightyellow;
  width: 14vw;
  height: 16vh;
  margin: 12px;
  border-radius: 10px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.lists{
  display: flex;
  flex-wrap:wrap;
  margin:30px 0;
  align-items: baseline;
}
.list{
  background:rgb(240, 233, 233);
  margin:5px 10px;
  width:16vw;
  border-radius: 5px;
  padding:10px;
}
.addCard{
  padding:5px 0 0 20px;
  margin-bottom:5px;
  display: flex;
  align-items: center;
  align-content: center;


}
.addCard:hover{
  background: rgb(197, 193, 193);
  border-radius: 5px;
  cursor: pointer;
  padding-bottom:5px;
}
.addList{
  border-radius:5px;
  background:lightgreen;
  width:16vw;
  /* top:-50px; */
  height: 5vh;
  padding:0 5px;
  margin:5px 10px;
  display: flex;
  justify-content:start;
  align-content: center;
  align-items: center

}
.addList:hover{
  cursor: pointer;
}
.addListPopUp{
  background:rgb(240, 233, 233);
  position: relative;
  top:-40px;
  left:10px;
  width:16vw;
  padding:5px;
  height: 13vh;
  border-radius: 5px;
}
.list-content{
  display: flex;
  justify-content: space-between;
}
.deleteIcon{
  border:none;
}
.delete-button{
  border:none;
  background: none;
}
.show-card-input{
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
.list-popup-buttons{
margin:5px;
}
.list-popup-buttons:hover{
  cursor: pointer;
}
.button-add-list{
  border:none;
}
.card{

}
.card-in-list{
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin:8px 0;
  border-radius: 5px;
  padding:5px;
}
.card-in-list:hover{
  cursor: pointer;
}